astroid==2.3.3
awscli==1.16.298
beautifulsoup4==4.9.1
boto3==1.14.47
botocore==1.17.47
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.1
docutils==0.15.2
idna==2.10
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2==2.8.5
pyasn1==0.4.7
PyJWT==1.7.1
pylint==2.4.3
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2020.1
PyYAML==5.1.2
requests==2.24.0
rsa==3.4.2
s3transfer==0.3.3
sh==1.13.1
six==1.13.0
soupsieve==2.0.1
twilio==6.45.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
